<div class="time-box">
  <div class="picker-box">
    <div type="text" (click)="toggleBoard()" class="picker">
      {{chosenTime}}
      <i id="clock" class="fa fa-clock-o"></i>
    </div>
  </div>
  <div *ngIf="timeBoard" class="time-board">
    <button (click)="moveLeft()" class="scroll"><i class="fa fa-angle-left fa-2x"></i></button>
    <div class="times">
      <!--<div class="time" [class.right]="right" [class.stop]="stop" [class.left]="left" (click)="setTime(num)" *ngFor="let num of times()" [class]="">{{display(num)}}</div>-->
    </div>
    <button (click)="moveRight()" class="scroll"><i class="fa fa-angle-right fa-2x"></i></button>
  </div>
</div>
